name: 04 - Reusing Workflow

on: [workflow_dispatch]

jobs:
  call-workflow:
    uses: ./.github/workflows/04-reusable.yml
    with:
      who-to-greet: '@renan-alm'
      
  use-output:
    runs-on: ubuntu-latest
    needs: [call-workflow]
    steps:
      - run: echo "Time was ${{ needs.call-workflow.outputs.current-time }}"
